# Copyright (c) 2019 Linaro Limited
# SPDX-License-Identifier: Apache-2.0

if SHIELD_PEACOCK_VIK_MODULE

config ZMK_TRACKPAD_LOGICAL_X
	default 3685

config ZMK_TRACKPAD_LOGICAL_Y
	default 2150

config ZMK_TRACKPAD_PHYSICAL_X
	default 1560

config ZMK_TRACKPAD_PHYSICAL_Y
	default 910

endif # SHIELD_PEACOCK_VIK_MODULE
